Language: Cpp
IndentWidth: 4
SpaceAfterCStyleCast: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterStruct: false
AllowShortFunctionsOnASingleLine: false
SpacesBeforeTrailingComments: 2
IndentGotoLabels: false
SeparateDefinitionBlocks: Always
InsertBraces: true